.parentpanel {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.parentpanel > * {
  flex-basis: 100%;
  margin: 2rem;
  gap: 3rem;
}
.leftpanel {
  width: 10%;
  display: flex;
}

/* width: 25%; */
/* display: flex; */
/* flex-direction: row; */
/* s */
/* border: 5px solid white; */

/* justify-content: left; */

/* .middlepanel {
  width: 40%;
}
.middle {
} */
/* .rightpanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
}

.rightpanel img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* .right {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: end;
} */

/* .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  background-color: white;
  width: 100%;
  margin-top: 10px;

  gap: 10rem;

} */

.middlepanel img {
  height: 34px;
  max-height: 34px;
}

.middlepanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.rightpanel {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.rightpanel img {
  width: 25px;
}

form {
  width: 30%;
}
form.search {
  border: none;
  padding: 0;
}

input.input {
  width: 100%;
  border: 1px solid #555;
  border-radius: 1rem;
  display: block;
  padding: 9px 4px 9px 40px;
  background: #f1f3f4
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
}

.bannerfoot {
  position: relative;
  display: block;
  background-color: white;
  padding-bottom: 1rem;
}
.bf {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.bannerfoot a {
  color: black;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
}
.bannerfoot a:after {
  transition: opacity 200ms cubic-bezier(0.55, 0, 1, 0.45);
}

.bannerfoot .clear {
  color: #018578;
}
