/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.inner {
  font-family: recoleta-bold;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 32px;
  margin-top: 32px;
  color: #091758;
  text-align: center;
  margin: 0;
}

.cont {
  background: #fef4ef;

  padding: 20px;
}
.imagePartner {
  padding: 40px 32px;

  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

/* .image img {
  position: relative;
  display: block;

  padding-bottom: 1rem;
}
.image {
  display: flex;
  justify-content: center;
  gap: 2em;
} */

/* .image {
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  padding: 2.5rem;
}

.partner {
  animation: animate 25s alternate linear infinite;
}

.image:hover .image {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1100px, 0, 0);
  }
} */
